#top-banner {         
  background: $navy;
  @include background($navy linear-gradient($navy-light, $navy));
  border-bottom: solid 1px $navy-dark;
  padding: 11px 0 10px 0;
  text-align: center;  
  @include adjust-font-size-to(12px, 1);
  border-bottom: 1px solid $navy-lightest;
  @include text-shadow(0 -1px 0 rgba($black, 0.8));  
  color: $blue-lightest;  
  a {
    color: $blue-lightest;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  } 
  p {
    margin: 0;
  }
}

#header {
  position: relative;
  z-index: 500;
  .container {
    background: $white;
    margin-top: 24px;
    @include border-top-left-radius();
    @include border-top-right-radius();  
    position: relative; 
    z-index: 100;
    #search-block-form {
      margin: 20px 20px 0 0;
      float: right;
      .form-item, .form-actions {
        float: left;
      }
      .form-text {
        @include border-left-radius(20px);
        @include border-right-radius(0);
        height: 23px;
        float: left;     
      }
      .form-submit {
        @include border-right-radius(20px);
        @include border-left-radius(0);
        border: none;      
        padding: 0 10px 0 10px;
        height: 23px;
      }
    }
    #block-translate-this-button {
      float: right;
      margin: 22px 30px 0 0;
      a.translate-this-button {
        float: left;
        padding-left: 24px;
        @include icon(0 -484px);
        color: $navy-darkest;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        @include adjust-font-size-to(11px, 1);
      }
    }
  }  
}

//Logo
h1#logo {
  @include float-left;
  @include adjust-font-size-to(16px, 1);
  @extend .ff-serif;
  font-style: italic;
  margin: 0;
  padding: 20px 0 20px 30px;
  a {
    display: block;
    position: relative;
    text-decoration: none;
    &:hover {
      span {
        background-position: 0 0;
      }
    }
    img {
      display: block;
    }
  }
}

//RSS Button
.rss-button {
  @include float-right;
  margin: 48px 24px 0 0;
}


//Site Nav

#navigation { 
  background: $green;       
  @include background($green linear-gradient($green-lighter, $green-dark));  
  @include box-shadow(rgba(0, 0, 0, .4) 0 1px);  
  border-bottom: solid 1px $green-lighter;
  border-top: solid 1px $green-dark;
  float: left;
  width: 100%;
  clear: both;
  ul.menu { 
    margin: 0;  
    padding: 0;
    float: left;
    list-style: none;
    border-right: 1px solid $green-lighter;    
    li {
      list-style: none;
      float: left;
      position: relative;
      padding: 0; 
      //margin-top: -1px;
      border-right: 1px solid $green-dark;      
      border-left: 1px solid $green-lighter;
      &:hover > a {
        background-color: $green-dark;
      }
      a {
        float: left;
        padding: 16px 20px;
        @include adjust-font-size-to(14px);
        line-height: 14px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        //border-top: solid 1px $green-dark;
        border-bottom: solid 1px $green-dark;        
        &.active, &.active-trail{ 
          background: $green-dark;
        }
        &:hover {
          background: $green-dark;
        } 
      }
      &.expanded > a{
        @include icon(100% -468px);   
        padding-right: 30px;
      }
      ul {     
        border: none;
        display: none;
        visibility: hidden;        
        left: -1px;
        padding: 0px 0 0 0;
        //margin-top: -1px;
        border: none;        
        position: absolute;
        top: 100%;
        width: 225px;
        z-index: 5000;
        li {
          @include adjust-font-size-to(13px, 1);
          border: none;
          clear: left;
          display: block;
          float: none;
          margin: 0;
          &.active-trail {
            &:after {
              content: none;
            }
          }
          a,
          a.active-trail {  
            background: $green-dark;                       
            border-top: 1px solid $green-lighter;
            border-bottom: 1px solid $green-darkest;
            display: block;
            float: none;
            white-space: nowrap;
            &:hover {  
              border-top: 1px solid $green-darker;              
              background: $green-darker; 
            }
          }
        }
      }
      &:hover {
        ul {
          display: block;
          visibility: visible;
        }
      }
    }
  }
}

// Breadcrumb:
#breadcrumb {
  padding: 10px 20px;
  color: $white;
  padding-left: cp(50, $width-content); 
  margin: 0; 
  border-bottom: 1px solid $gray-light;
  color: $navy-light;
  @include adjust-font-size-to(11px);  
  .item-list {
    ul {
      margin: 0;
      li {
        display: inline;
        margin: 0 .3em 0 0;
        padding: 0 1em 0 0;
        @include icon(100% -700px);
      }      
      li.last {
        color: $navy-darkest;        
        a {
          color: $navy-darkest;
        }
        background: none;
      }
    }    
  }
  a {
    color: $navy-light;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $navy-darkest;
    }
  }
}
.no-sidebars {
  #breadcrumb {
    padding-left: cp(50, $width-full);
  }
}

//  Header

@media screen and (max-width: 768px) {
  h1#logo {
    padding: 10px 0 10px;
    text-align: center;
    width: 100%;
    a {
      text-align: center;
      img {
        @include inline-block;
      }
    }
  }
  #header {
    .container {
      #search-block-form {
        margin-top: 0;
      }
      #block-translate-this-button {
        float: left;
        margin-top: 2px;
        padding-left: 20px;
      }
    }
  }
}

//  Navigation

@media screen and (max-width: 1120px) {
  #navigation {
    ul.menu {
      border-right: none;
      li {
        border: none;
        a {
          @include adjust-font-size-to(12px);
          border: none;
          display: block;
          float: none;
          padding: 8px 10px;
        }
        &.expanded > a {
          @include icon(100% -476px);   
          padding-right: 30px;
        }
        ul {
          left: 0;
          li {
            @include adjust-font-size-to(12px, .6);
            width: auto;
            a {
              padding: 4px 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  #navigation {
    ul.menu {
      li {
        border: none;
        width: 25%;
        a {
          &:hover {
            background-color: $green-darkest;
          }
        }
        &:hover > a {
          background-color: $green-darkest;
        }
        ul {
          left: 0;
          width: 100%;
          li {
            @include adjust-font-size-to(12px, .6);
            width: auto;
            a {
              padding: 4px 10px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #navigation {
    ul.menu {
      li {
        border: none;
        width: 33%;
        ul {
          li {
            width: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #navigation {
    ul.menu {
      li {
        border: none;
        width: 50%;
        ul {
          li {
            width: auto;
          }
        }
      }
    }
  }
}
