@mixin button {
  @include adjust-font-size-to(12px, 1.3);
  @include link-colors($white, $white);
  display: inline-block;
  @include text-shadow(none);
  font-weight: 700;
  padding: 0 18px;
  text-decoration: none;
}

@mixin blog-utils {
  @include adjust-font-size-to(11px, 1.1);
  @include link-colors($navy-darkest);
  display: inline-block;
  text-decoration: none;
}

.button {
  @include button;
}

.pill {
  @include border-radius(24px / 2);
}

.green { 
  background: $green-darker;
  @include box-shadow($green-lighter 0 1px 0 0 inset);
  @include background($green linear-gradient($green-lighter, $green-darker));
  &:hover{
   @include background($green-lighter linear-gradient($green-lighter, $green)); 
  }
}

.blue {
  @include box-shadow($royal-light 0 1px 0 0 inset);
  @include background($royal linear-gradient($royal, $royal-dark));
  &:hover{
   @include background($royal-light linear-gradient($royal-light, $royal)); 
  }
}

.white {
  @include background($white linear-gradient($white, #F7F7F9));
  @include text-shadow(rgba($white,0.9) 1px 1px 0);
  @include link-colors($navy-light, $navy-darkest);
  &:hover {
    @include background(#F7F7F9 linear-gradient(#F7F7F9, $white));
  }
}

.rss {
  @include icon(0 -77px);
  @include box-shadow(rgba($black, 0.1) 0 1px 1px 0);
  padding-left: 32px;
  padding-right: 12px;
  &:hover {
    @include icon(0 -77px);
  };
}

.arrow-right {
  @include icon(100% -98px);
  padding-right: 32px;
  &:hover {
    @include icon(100% -98px);
  };
}

.arrow-left {
  @include icon(0 -99px);
  padding-left: 32px;
  &:hover {
    @include icon(0 -99px);
  };
}

.read-more {
  @include blog-utils;
  @include adjust-font-size-to(12px, 1.1);
  @include icon(100% -140px);
  font-weight: 700;
  padding-right: 14px;
}

.add-comment {
  @include blog-utils;
  @include icon(0 -158px);
  padding-left: 22px;
}

.comment-count {
  @include blog-utils;
  @include icon(0 -298px);
  padding-left: 24px;
}

//Share This
.addthis_button_compact {
  @include blog-utils;
  display: inline;
  margin: 0 cp(30,$width-content) $base-line-height 0;
}
.at300bs {
  @include icon(0 -178px);
  display: inline-block;
}